.bg-light {
    background-color: white!important;
    float:right;
    position:fixed;
    top:0;
    right:0;
} 

header {
    height:auto;
    width:200px;
    white-space:nowrap;
}

#my-name {
    background: #4fa6b0;
    color: white;
    display: inline;
    position: relative;
    left: 10%;
    top: 10px;
    height: 30px;
    width: 100%;
    font-size: 130%;
}

.jumbotron {
    width:60%;
    height: 60%;
    position:relative;
    left:2%;
    top:30px;
    opacity: 0.9;
}

#InputMessage {
    height: 5em;
}

body {
    width:100%;
    padding:0px 0px 100px 0px;
}

footer {
    position: absolute;
    bottom:0;
    width:100%;
    border-top: 5px solid #4fa6b0;
    background-color: grey;
    padding: 10px 0;
}

footer h3 {
    text-align: center;
}

#background {
    position:absolute;
    width:100vw;
    height:100vh;
    background-image: url('ignasi_pattern_s.png');
}


