.bg-light {
  background-color: white !important;
  float: right;
  position: fixed;
  top: 0;
  right: 0;
}

header {
  height: auto;
  width: 200px;
  white-space: nowrap;
}

#my-name {
  background: #4fa6b0;
  color: white;
  display: inline;
  position: relative;
  left: 10%;
  top: 10px;
  height: 30px;
  width: 100%;
  font-size: 130%;
}

.about-img {
    height:12em;
    width:12em;
    float:left;
    padding:10px;
}


.jumbotron {
  width: 50%;
  height: auto;
  position: relative;
  left: 2%;
  top: 30px;
  opacity: 0.9;
  background-color: white;
}  

@media screen and (max-width: 700px) {
  #jumbo-contact {
    width: 60%;
    height: 420px;
    margin: auto;
    background-color: white;
   
  }
}

#jumbotron-index {
  width: 60%;
  height: auto;
  background-color: white;
  
}

@media screen and (max-width: 700px) {
  #jumbotron-index {
    width: 60%;
    height: 420px;
    margin: auto;
    background-color: white;
  }
}

#jumbo-portfolio {
  width: 40%;
  height: auto;
  background-color: white;
  text-align:center;
  padding:5em inherit;
  background-size:cover;
}

#InputMessage {
  height: 5em;
}

body {
  width: 100%;
  padding: 0px 0px 100px 0px;
  height:100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 3px solid #4fa6b0;
  background-color: grey;
  padding: 6px 0;
  z-index: 1;
}

footer h3 {
  text-align: center;
}

#background {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-image: url("ignasi_pattern_s.png");
  min-height:auto;
  min-width:100%;
}  


.images img {
  text-align:center;
  width: 11em;
  border: 1px solid white;
  padding: 5px;
  background-size:cover;
}

#left {
    width: 11em;
    border: 1px solid white;
    padding: 5px;
    position:relative;
    right:90px;
    size:1.3em;
}

@media screen and (min-width: 1433px) {
    #left {
        position:relative;
        left:12px;
    }
}



@media screen and (max-width: 700px) {
    .images img {
      max-width: 100%;
      height: auto;
      border: 1px solid white;
      padding: 5px;
      display:block;
    margin-left:auto;
    margin-right:auto;
    }
  }


