.bg-light {
    background-color: white!important;
    float:right;
    position:fixed;
    top:0;
    right:0;
} 

header {
    height:auto;
    width:200px;
    white-space:nowrap;
}

#my-name {
    background: #4fa6b0;
    color: white;
    text-align: center;
    position: relative;
    left: 12%;
    height: 30px;
    width: 100%;
    font-size: 130%;
}

.jumbotron {
    width:60%;
    height: 60%;
    position:relative;
    left:2%;
    top:30px;
}

#InputMessage {
    height: 5em;
}

body {
    width:100%;
    
    
    padding:0px 0px 100px 0px;
    border-bottom:2px solid #4fa6b0;
    
}



